
/* resetto tutti i margini e i padding */
*{
    margin: 0px;
    padding: 0px;
}

html{
    font-family: sans-serif;
}

li{
    list-style: none; /* rimuovo i punti dall'elenco */
}

.mdi-delete{
    color:red;
    cursor: pointer;
}
/** effetto quando passo il mouse sul cestino */
.mdi-delete:hover{
    filter:brightness(70%);
}
/** effetto quando tenco cliccato con il mouse */
.mdi-delete:active{
    filter:brightness(40%);
}

#app{
    display: flex;
    flex-direction: column;
    gap:10px;
}

@keyframes slideIn {
    0%{
        opacity: 0;
        transform: translateX(100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }

}
li{
    border-bottom: 1px solid #ccc;
    padding:10px 0px;
    display: flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
    animation: slideIn 1s;
}
